// HEADER

#header-item-venice
  padding-top: $margin-small

#header-item-post
  padding-bottom: $margin-small

#header-item-left
  padding-left: $margin-small

#header-item-right
  padding-right: $margin-small

// ******************************************************

// MAIN

#main-content
  padding: $margin-large + $margin-basic $margin-large + $margin-basic

// ******************************************************