// HEADER

#header-item-venice
  padding-top: $margin-small

#header-item-post
  padding-bottom: $margin-small

#header-item-left
  left: calc('-50vh + ' + $margin-large)

#header-item-right
  right: calc('-50vh + ' + $margin-large)

// ******************************************************

// MAIN

#main-content
  padding: $margin-large + $margin-basic $margin-large + $margin-basic

// ******************************************************
