// HEADER

.header-item
  position: fixed
  z-index: 100
  text-align: center 

#header-item-venice, #header-item-post
  left: 10%
  width: 80%

#header-item-venice
  top: 0
  padding-top: $margin-basic

#header-item-post
  bottom: 0
  padding-bottom: $margin-basic

#header-item-about, #header-item-contact
  top: 50vh
  margin-top: -.5rem

#header-item-about
  left: 0
  padding-left: $margin-basic

#header-item-contact
  right: 0
  padding-right: $margin-basic

.header-item-rotate-counter
  display: block
  transform: rotate(-90deg)

.header-item-rotate-clockwise
  display: block
  transform: rotate(90deg)

// MAIN

#main-content
  min-height: 100vh
  padding: $margin-large

// ******************************************************

// ABOUT

.about-list
  display: block
  margin-bottom: 1em

// ******************************************************
