// HEADER

.header-item
  position: fixed
  z-index: 100
  text-align: center

#header-item-venice, #header-item-post
  left: 10%
  width: 80%

#header-item-venice
  top: 0
  padding-top: $margin-small

#header-item-post
  bottom: 0
  padding-bottom: $margin-small

#header-item-left
  top: 50vh
  left: calc('-50vh + ' + $margin-mid)
  width: 100vh
  transform: rotate(-90deg)

#header-item-right
  top: 50vh
  right: calc('-50vh + ' + $margin-mid)
  width: 100vh
  transform: rotate(90deg)

.logo
  height: .73em
  path
    fill: $color-black

// ******************************************************

// MAIN

#main-content
  min-height: 100vh
  padding: $margin-large + $margin-basic $margin-large

// ******************************************************

// PAGES

.about-list, .contact-section
  margin-top: $font-leading-basic * 1rem

.about-list-item
  display: block

// ******************************************************

// ANIMATION

#home-animation
  position: fixed
  top: 0
  right: 0
  bottom: 0
  left: 0

.animation-image, .animation-image-loaded
  width: auto
  max-height: 80vh
  display: none

.animation-image-loaded.active
  display: block

// ******************************************************
