// HEADER

.header-item
  position: fixed
  z-index: 100
  text-align: center

#header-item-venice, #header-item-post
  left: 10%
  width: 80%

#header-item-venice
  top: 0
  padding-top: $margin-basic

#header-item-post
  bottom: 0
  padding-bottom: $margin-basic

#header-item-left, #header-item-right
  top: 50vh
  margin-top: -.5rem

#header-item-left
  left: 0
  padding-left: $margin-basic

#header-item-right
  right: 0
  padding-right: $margin-basic

.header-item-rotate-counter
  display: block
  transform: rotate(-90deg)

.header-item-rotate-clockwise
  display: block
  transform: rotate(90deg)

// MAIN

#main-content
  min-height: 100vh
  padding: $margin-large

// ******************************************************

// ABOUT

.about-list
  display: block
  margin-bottom: 1em

// ******************************************************

// ANIMATION

#home-animation
  position: fixed
  top: 0
  left: 0
  bottom: 0
  right: 0

.animation-image, .animation-image-loaded
  display: none
  max-height: 80vh
  width: auto

.animation-image-loaded.active
  display: block

// ******************************************************
