// HEADER

#header-item-venice
  padding-top: $margin-small

#header-item-post
  padding-bottom: $margin-small

#header-item-left
  left: $margin-basic * 1.5

#header-item-right
  right: $margin-basic * 1.5

// ******************************************************

// MAIN

#main-content
  padding: $margin-large + $margin-basic

// ******************************************************
